<nav class="navbar navbar-expand-xl is-black fixed-top">
  <div class="navbar-brand">
    <%= link_to image_tag("rocket.png", width:"90", height:"110", alt: "nav-picture"), root_path, class: 'navbar-item'%>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Home", root_path, class: 'navbar-item'%>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Types
        </a>

        <div class="navbar-dropdown">
          <% @all_types.each do |type|%>
            <%= link_to type.name , type, class: 'navbar-item'%>
          <% end %>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Updates
        </a>

        <div class="navbar-dropdown">
          <%= link_to "New Pokémon", new_pokemon_path, class: 'navbar-item'%>
          <%= link_to "Recently Updated Pokémon", updated_pokemon_path, class: 'navbar-item'%>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Account
        </a>

        <div class="navbar-dropdown">
        <div class='navbar-item'>Hello, <%= current_user && current_user.customer.present? ? current_user.customer.name : "Guest"%></div>
        <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, class: 'navbar-item', method: :delete %>
          <% if current_user.customer.present? %>
            <%= link_to "Edit Address", edit_address_path, class: 'navbar-item'%>
          <% else %>
            <%= link_to "Add Address", new_address_path, class: 'navbar-item'%>
          <% end %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: 'navbar-item'%>
          <%= link_to "Sign Up", new_user_registration_path, class: 'navbar-item'%>
        <% end %>
        </div>
      </div>

      <%= link_to "About", slug_path('about'), class: 'navbar-item'%>

      <%= link_to "Contact Us", slug_path('contact'), class: 'navbar-item'%>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= render partial: 'pokemon/search_form'%>
        </div>
      </div>
      <div class="navbar-item">
        <%= link_to image_tag("cart.png", alt: "nav-cart"), cart_path %>
        <%= link_to cart_path do %>
          <div class="navbar_item circular-label"><%= session['cart'].count %></div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
