<%= @pokemons.each do |pokemon| %>
  <div class="column is-one-fifth">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <%= image_tag("#{pokemon.image}", alt: "#{pokemon.name}_image") %>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= link_to pokemon.name, pokemons_path(pokemon), class: 'char-card-title' %></p>
            <p class="subtitle is-6"><%= pokemon.species %></p>
            <p class="subtitle is-5">$<%= pokemon.price %></p>
          </div>
        </div>
      </div>
        <footer class="card-footer">
          <%= pokemon.types.each do |type| %>
            <%= link_to type.name, types_path(type), class: 'card-footer-item' %>
          <% end %>
        </footer>
    </div>
  </div>
<% end %>